<%- include ('../includes/head.ejs')%>
    <%- include ('../includes/navbar.ejs')%>
        <div class="attendace-wrapper">
            <div class="attendace-form">
                <form action="/attendace/start" method="POST">
                    <button class="btn" type="submit">Điểm Danh</button>
                </form>
                <form action="/attendace/end" method="POST">
                    <button class="btn" type="submit">Kết Thúc Làm</button>
                </form>
                <form action="/attendace/annual" method="POST">
                    <button class="btn" type="submit">Nghỉ Phép</button>
                </form>
            </div>
            <div class="attendace-img">
                <img src="/image/employee.svg" alt="employee">
            </div>
        </div>

        <%- include ('../includes/end.ejs')%>