<!-- calculate is working? -->
<% const lastWorkedList=staff.workTime.filter(workedTime=> {
    return workedTime.working === true
    } )
    const lastWorked = lastWorkedList[lastWorkedList.length-1]
    %>
    <!-- calculate is working? -->

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <%= lastWorked.working===true ? 'Info Start' : 'Info End' %>
        </title>
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <div class="app">