<%- include ('./includes/head.ejs') %>
    <%- include ('./includes/navbar.ejs') %>
        <div class="form-wrapper">
            <form action="/staff" method="POST">
                <div class="form-control">
                    <label for="name">name</label>
                    <input type="text" id="name" name='name'>
                </div>
                <div class="form-control">
                    <label for="dOB">dOB</label>
                    <input type="date" id="dOB" name='dOB'>
                </div>
                <div class="form-control">
                    <label for="salaryScale">salary Scale</label>
                    <input type="number" id="salaryScale" step="0.1" name='salaryScale'>
                </div>
                <div class="form-control">
                    <label for="startDate">startDate</label>
                    <input type="date" id="startDate" name='startDate'>
                </div>
                <div class="form-control">
                    <label for="department">department</label>
                    <input type="text" id="department" name='department'>
                </div>
                <div class="form-control">
                    <label for="annualLeave">annualLeave</label>
                    <input type="number" id="annualLeave" name='annualLeave'>
                </div>
                <div class="form-control">
                    <label for="image">image</label>
                    <input type="text" id="image" name='image'>
                </div>
                <button class="btn" type="submit">Thêm thông tin</button>
            </form>

        </div>
        <%- include ('./includes/end.ejs') %>