<%- include ('./includes/head.ejs')%>
    <%- include ('./includes/navbar.ejs')%>
        <div class="centered">
            <h2 class="index__title">Xin Chào!!!</h3>
                <p>Mời Bạn Chọn Tác Vụ</p>
        </div>
        </div>
        <%- include ('./includes/end.ejs')%>