<%- include ('../includes/head.ejs')%>
    <%- include ('../includes/navbar.ejs')%>
        <div class="centered">
            <form class="form-control" action="/auth/login" method="POST">
                <label for="userNname">Tên đăng nhập</label>
                <input id="userName" type="text">
                <label for="password">Mật khẩu</label>
                <input id="password" type="password">
                <button class="btn" type="submit">Đăng nhâp</button>
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            </form>
        </div>
        </div>
        <%- include ('../includes/end.ejs')%>